<div class= "dashboard nav-fix">


    <div class="content-wrapper">
        <% if user_signed_in? %>
          <div class="sidebar">
            <%= render 'shared/sidebar' %>
          </div>
        <% end %>
      </div>
  <div class = "dashboard-content">

    <h1>EVENTS</h1>
     <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Event Name</th>
          <th scope="col">Add Service</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% count = 0 %>
          <% @my_events.each do |event| %>
          <tr>
            <% count += 1 %>
            <th scope="row"> <%= count %> </th>
            <td><%= event.name %></td>
            <td><%= event.name %></td>
            <td>  <%= link_to "Edit", edit_event_path(event)  %>  </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render "shared/footer" %>

