<div class="search-change rounded">
  <div class= "search-header">
    <h2 class="ml-3">Churches Found:</h2>
    <div>
      <%= link_to "Add A Church", new_church_path, class: "btn btn-gradient"  %>
      <%= link_to "Log In/Register",new_user_session_path, class: "btn btn-gradient" %>
    </div>
  </div>
  <%= render "shared/search" %>

</div>
<div>
  <div class="search-results mt-5">
    <div class="cards">
      <% @churches.each do |church| %>
          <%= render 'index-card', church: church %>
      <% end %>
    </div>
    <div class="map-position">
      <%= render "shared/map", styling: "width: 100%; height: 100vh;", class_name: "map-index" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
