

<div class="banner events-banner nav-fix">
  <h1 >Churches:</h1>
  <div>
    <%= link_to "Add Church", new_church_path, class: "btn btn-ghost mx-1"  %>
    <%= link_to "Log In   ",new_user_session_path, class: "btn btn-ghost mx-1" %>
  </div>
</div>
<div class="search-change rounded">

    <%= render "shared/search" %>
    <%= render "shared/location" %>

</div>
<div>
  <div class="search-results">
    <div class="cards">
      <% @churches.each do |church| %>
          <%= render 'index-card', church: church %>
      <% end %>
    </div>
    <div class="map-position">
      <%= render "shared/map", styling: "width: 100%; height: 100vh;", class_name: "map-index" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
