<ul class="list-unstyled components sidebar-ul">
  <li class="active sidebar-li">
    <%# <a class="sidebar-a" href="#">DASHBOARD</a> %>
    <%= link_to "DASHBOARD", dashboard_path, class: "sidebar-a" %>
    <%# link_to 'Edit my profile', edit_user_path(current_user), class: "sidebar-a" %>
  </li>

  </li>
  <li class="sidebar-li">
    <%= link_to "YOUR CHURCHES", dashboard_churches_path, class: "sidebar-a" %>
    <%# <a class="sidebar-a" href="#">YOUR TEAM</a> %>
  </li>
  <li class="sidebar-li">
    <%= link_to "YOUR EVENTS", dashboard_events_path, class: "sidebar-a" %>
    <%# <a class="sidebar-a" href="#">SURVEYS</a> %>
  </li>
  <li class="sidebar-li li-notification">
    <%= link_to "YOUR MINISTRIES", dashboard_ministries_path, class: "sidebar-a" %>
  </li>
  <li class="sidebar-li">
    <%= link_to "YOUR RESOURCES", dashboard_resources_path, class: "sidebar-a" %>
  </li>
</ul>
