<div class="banner-container nav-fix" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "city_daytime.jpg", alt: "alttext" %>);">
  <div class="container home-text home-search">
      <div class="position-relative">
        <h1>Making Jesus Known in Japan and Growing Disciples</h1>
      </div>
        <div class="search-box">
          <%= render "shared/search" %>
    </div>
  </div>
 </div>
  <!-- Home Page Body -->

<div class= "home-container">
  <div class= "home-content">
  </div>
</div>

 <section class="featured">
        <div class="left">
            <div class="inner transition2">
                <p class="subtitle about" id= "about-tag">About JEMA</p>

                <p class="featured-desc">JEMA networks and equips its over 1,000 members to make disciples of Jesus Christ through its leadership team, commissions, representatives, and endorsed ministries. JEMA is composed of over 40 Japan based mission agencies and their personnel, other missionaries or tentmakers who do not belong to those agencies, and individuals living outside Japan who are interested in reaching Japanese for Christ.</p>
                <%= link_to "About JEMA", churches_path, class: "align-center"  %>

            </div>
        </div>
        <%= image_tag "street_night.jpg", alt: "alttext", class:"right transition2" %>

    </section>



    <div class="skills">
          <h1 class="subtitle about" id="websites-tag">OUR MISSION</h1>
          <p>JEMA’s mission is to serve Protestant missionaries seeking to bring the good news of Jesus Christ to people in Japan. It does that by networking and equipping its members to make disciples for Christ.</p>
        <div class="skills-container">
            <ul>

                <li class="transition2">
                    <div class="icon-container one">
                      <a href="https://kyoro-manager.herokuapp.com/" target="_blank"> <%= image_tag "prayer_group.jpg", alt: "Events" %></a>
                    </div>
                    <h3 class="skill-title"> <%= link_to "Events",events_path  %></h3>

                    <p class="featured-desc skill-desc">Find events that help you connect with God and with others across Japan.  </p>

                </li>
                <li class="transition2">
                    <div class="icon-container two">
                       <a href="https://connectrainer.herokuapp.com/" target="_blank"> <%= image_tag "temple_river.jpg", alt: "ConnecTrainer" %></a>
                    </div>
                    <h3 class="skill-title"> <%= link_to "Church Directory",churches_path  %></h3>
                    <p class="featured-desc skill-desc">Looking for a place to worship and connect with others?  JEMA supports churches all across Japan who share our same vision for knowing God, and making God known.</p>

                </li>
                <li class="transition2">
                    <div class="icon-container three">
                      <a href="https://monease.herokuapp.com/" target="_blank"> <%= image_tag "bible.jpg", alt: "Resources" %> </a>
                    </div>
                   <a href="https://monease.herokuapp.com/" target="_blank">  <h3 class="skill-title">Free Resources</h3> </a>
                    <p class="featured-desc skill-desc">Find a wide range of materials for your own walk, or to help share with others.  Many of these are classics that missionaries to Japan have used for decades to share the gospel in Japan.</p>

                </li>
            </ul>
        </div>
    </div>


<section class="portfolio">
       <div class="portfolio-container transition3">
            <div class="portfolio-left">
                <div class="inner">
                    <a href="https://decisionmagazine.com/bangkok-thailand-churches-unite-for-the-first-time-in-history/" target="_blank"><p class="subtitle">CONNECT</p></a>

                    <a href="https://decisionmagazine.com/bangkok-thailand-churches-unite-for-the-first-time-in-history/" target="_blank"><p class="featured-title">JEMA Ministries</p></a>
                    <!-- <p class="featured-desc">"Held in the Bangkok International Trade & Exhibition Centre (BITEC), the Amazing Love Festival drew <strong>42,000 people over two nights, with more than 79,000 viewing online.</strong>"</p> -->
                     <ul>
                      <li>Japan Harvest Magazine</li>
                      <li>JEMA Endorsed Ministries</li>
                      <li>JEMA Ministries</li>
                    </ul>
                </div>
            </div>

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag "temple_river.jpg", alt: "alttext", class: "d-block" %>
                  <!-- <img class="d-block w-100" src="Bangkok.jpg" alt="First slide"> -->
                </div>
              </div>
            </div>
        </div>

        <div class="portfolio-container transition3">
            <div class="portfolio-left">
                <div class="inner">
                    <a href="https://decisionmagazine.com/hanoi-festival-a-milestone-for-the-gospel/" target="_blank"><p class="subtitle">Hanoi, Vietnam</p> </a>

                    <a href="https://decisionmagazine.com/hanoi-festival-a-milestone-for-the-gospel/" target="_blank"><p class="featured-title">Love Hanoi Festival</p></a>

                    <ul>
                      <li><strong>Role:</strong> Project Coordinator </li>
                      <li><strong>Locations:</strong> Hanoi, Vietnam</li>
                      <li><strong>Venue:</strong> Quần Ngựa Sports Complex</li>
                      <li><strong>Final Event Dates:</strong> December 8th & 9th, 2017 </li>
                      <li><strong>Final Attendance:</strong> 60,000+</li>
                    </ul>
                </div>
            </div>
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag "temple_river.jpg", alt: "alttext", class: "d-block" %>
              </div>
            </div>
          </div>

        </div>

        <div class="portfolio-container transition3">
            <div class="portfolio-left">
                <div class="inner">
                    <a href="https://billygraham.org.au/a-move-of-god-in-myanmar-franklin-graham-festival-draws-170000/" target="_blank"><p class="subtitle">OPPORTUNITIES</p> </a>

                    <a href="https://billygraham.org.au/a-move-of-god-in-myanmar-franklin-graham-festival-draws-170000/" target="_blank"><p class="featured-title">JEMA PROMOTIONS</p></a>
                    <ul>
                      <li>Job Postings</li>
                      <li>Special Trainings & Events</li>
                      <li>News and Information</li>
                    </ul>


                </div>
            </div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag "temple_river.jpg", alt: "alttext", class: "d-block" %>
                </div>
              </div>
            </div>

        </div>

    </section>




<%= render "shared/footer" %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>

    <script>
        gsap.registerPlugin(ScrollTrigger);
        var tl = gsap.timeline();

        tl.from('.content', {
            y: '-30%',
            opacity: 0,
            duration: 2,
            ease: Power4.easeOut
        })
        tl.from('.stagger1', {
            opacity: 0,
            y: -50,
            stagger: .3,
            ease: Power4.easeOut,
            duration: 2
        }, "-=1.5")
        tl.from('.hero-design', {
            opacity: 0, y: 50, ease: Power4.easeOut, duration: 1
        }, "-=2")

        gsap.from(".square-anim", {
            stagger: .2,
            scale: 0.1,
            duration: 1,
            ease: Back.easeOut.config(1.7)
        })

        gsap.from(".transition2", {
            scrollTrigger: {
                trigger: '.transition2',
                start: "top bottom"
            },
            y: 50,
            opacity: 0,
            duration: 1.2,
            stagger: .3
        })

        gsap.from(".transition3", {
            scrollTrigger: {
                trigger: ".transition3",
                start: "top center"
            },
            y: 50,
            opacity: 0,
            duration: 1.2,
            stagger: .6
        });
    </script>
